body{background-color:green}
h1{border:10px solid red;text-align:center;background-color:yellow;padding:20px}
h2{border-bottom:5px dotted purple;padding:20px 60px 0px 30px}
a{border:5px dashed gold;padding:83px 5px 0px 5px}